In [1]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame( course_name,duration)

In [2]:
df

                  0
2      Data Science
3  Machine Learning
6          Big Data
4     Data Engineer

In [3]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
list(df.iloc[1])

['Machine Learning', 3]

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans- loc is typically used for label indexing and can access multiple columns, while . iloc is used for integer indexing.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [7]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.717739  0.751215  0.903345  0.047159  0.467182  0.627089
2  0.972625  0.830281  0.819108  0.953604  0.526631  0.758565
3  0.194149  0.157778  0.536439  0.125943  0.752992  0.446931
4  0.635967  0.906455  0.884622  0.326759  0.236805  0.017435
5  0.168094  0.404338  0.307588  0.346486  0.427758  0.588246
6  0.497239  0.562037  0.257011  0.445708  0.521991  0.354763

In [8]:
new_df=df1[0:4]

In [9]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.717739  0.751215  0.903345  0.047159  0.467182  0.627089
2  0.972625  0.830281  0.819108  0.953604  0.526631  0.758565
3  0.194149  0.157778  0.536439  0.125943  0.752992  0.446931
4  0.635967  0.906455  0.884622  0.326759  0.236805  0.017435

In [10]:
reindex = [3,0,1,2]
new_df.reindex(reindex)

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.194149  0.157778  0.536439  0.125943  0.752992  0.446931
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.717739  0.751215  0.903345  0.047159  0.467182  0.627089
2  0.972625  0.830281  0.819108  0.953604  0.526631  0.758565

In [11]:
new_df.loc[2]

column_1    0.972625
column_2    0.830281
column_3    0.819108
column_4    0.953604
column_5    0.526631
column_6    0.758565
Name: 2, dtype: float64

In [12]:
new_df.iloc[2]

column_1    0.194149
column_2    0.157778
column_3    0.536439
column_4    0.125943
column_5    0.752992
column_6    0.446931
Name: 3, dtype: float64

EXPLANATION-Values are different for all columns  but the dtype are same and there is a name change 2 and 3

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.717739  0.751215  0.903345  0.047159  0.467182  0.627089
2  0.972625  0.830281  0.819108  0.953604  0.526631  0.758565
3  0.194149  0.157778  0.536439  0.125943  0.752992  0.446931
4  0.635967  0.906455  0.884622  0.326759  0.236805  0.017435
5  0.168094  0.404338  0.307588  0.346486  0.427758  0.588246
6  0.497239  0.562037  0.257011  0.445708  0.521991  0.354763

1- mean of each and every column present in the dataframe.

In [14]:
df1['column_1'].mean()

0.5309688540958689

In [15]:
df1['column_2'].mean()

0.602017554997628

In [16]:
df1['column_3'].mean()

0.6180187585274063

In [17]:
df1['column_4'].mean()

0.3742765608331459

In [18]:
df1['column_5'].mean()

0.4888931938610859

In [19]:
df1['column_6'].mean()

0.4655047480987786

(ii) standard deviation of column, ‘column_2’

In [20]:
df1['column_2'].std()

0.28462991170109114

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [21]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.717739  0.751215  0.903345  0.047159  0.467182  0.627089
2  0.972625  0.830281  0.819108  0.953604  0.526631  0.758565
3  0.194149  0.157778  0.536439  0.125943  0.752992  0.446931
4  0.635967  0.906455  0.884622  0.326759  0.236805  0.017435
5  0.168094  0.404338  0.307588  0.346486  0.427758  0.588246
6  0.497239  0.562037  0.257011  0.445708  0.521991  0.354763

In [22]:
df1.loc[2, 'column_2'] = 'string_variable'

In [23]:
df1

   column_1         column_2  column_3  column_4  column_5  column_6
1  0.717739         0.751215  0.903345  0.047159  0.467182  0.627089
2  0.972625  string_variable  0.819108  0.953604  0.526631  0.758565
3  0.194149         0.157778  0.536439  0.125943  0.752992  0.446931
4  0.635967         0.906455  0.884622  0.326759  0.236805  0.017435
5  0.168094         0.404338  0.307588  0.346486  0.427758  0.588246
6  0.497239         0.562037  0.257011  0.445708  0.521991  0.354763

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

ANS-In pandas, the concept of "window functions" refers to a group of functions that operate on a sliding or rolling window of data.
    WINDOW_FUNCTION-Rolling Window Functions,Expanding Window Functions,Exponentially Weighted Moving Average (EWMA)

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [24]:
from datetime import date 
todays_date = date.today() 
print("Current year:", todays_date.year) 
print("Current month:", todays_date.month)

Current year: 2024
Current month: 3

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta.

In [25]:
pd.Timedelta(days=2,hours=5,minutes=45)

Timedelta('2 days 05:45:00')

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [29]:
import pandas as pd

def read_csv_convert_categorical():
   
    file_path = input("Enter the path to the CSV file: ")
    
    column_name = input("Enter the name of the column to convert to categorical: ")
    
    categories = input("Enter the categories in order separated by commas: ").split(',')
    
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please check the file path and try again.")
        return
    
    try:
        df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)
    except KeyError:
        print("Column not found in the CSV file. Please check the column name and try again.")
        return
    
    sorted_data = df.sort_values(by=column_name)
    print("\nSorted Data:")
    print(sorted_data)

if __name__ == "__main__":
    read_csv_convert_categorical()

Enter the path to the CSV file:  parent_name
Enter the name of the column to convert to categorical:  parent_id
Enter the categories in order separated by commas:  parent_id,parent_name

File not found. Please check the file path and try again.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data():
    # Prompt user for file path
    file_path = input("Enter the path to the CSV file: ")
    
    # Read CSV file
    try:
        df = pd.read_csv(file_path)
    except FileNotFoundError:
        print("File not found. Please check the file path and try again.")
        return
    
    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Extract year and month from 'Date' column
    df['Year'] = df['Date'].dt.year
    df['Month'] = df['Date'].dt.month_name()
    
    # Group by year, month, and product category and sum the sales
    sales_data = df.groupby(['Year', 'Month', 'Product Category'])['Sales'].sum().unstack()
    
    # Plot stacked bar chart
    sales_data.plot(kind='bar', stacked=True, figsize=(10, 6))
    plt.title('Sales of Product Categories Over Time')
    plt.xlabel('Time (Year-Month)')
    plt.ylabel('Sales')
    plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')
    plt.tight_layout()
    plt.show()

if __name__ == "__main__":
    visualize_sales_data()